@import '../../variables.less';

.@{prefix}_movie {
  @topH: 80rpx;
  &-top {
    height: @topH;
    background: #fff;
    padding: 10rpx 20rpx;

    .search {
      border: 1rpx solid #efefef;
      border-radius: 8rpx;
      height: 60rpx;
      padding: 10rpx;
      line-height: 40rpx;
      font-size: 24rpx;
      color: #999;
    }
  }

  &-list {
  }
}
